* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

a:-webkit-any-link {
    text-decoration: none;
}

body {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

.bouton1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
}

.bouton1:hover {
    border-top: 5px solid #0065FC;
    color: #0065FC;
}

.inscription a {
    font-weight: bold;
    color: #0065FC;
}

.logo {
    max-width: 100%;
}

.main {
    object-fit: cover;
}

.title-h1 {
    font-size: 32px;
    margin: 10px 0;
}

h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-inline-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.subtitle {
    margin: 6px 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 450;
}

.research-box {
    display: inline-flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 35px;
}

input::placeholder {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
}

.icon-location {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 14px 0 0 14px;
}

.research-bar {
    padding: 0 0 0 20px;
    height: 50px;
    width: 220px;
    border: none;
    border-top: solid 1px #f2f2f2;
}

.button-research {
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
}

#icon-glass {
    display: none;
}

.fa,
.fas {
    font-weight: 900;
}

.fa,
.far,
.fas {
    font-family: "Font Awesome 5 free";
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.333px Arial;
}

#icon-glass {
    display: none;
}

.filters {
    padding-bottom: 30px;
}

.filters h3 {
    font-size: 24px;
    display: inline;
}

.filters ul {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.filters ul li {
    display: inline;
    margin-left: 25px;
    font-weight: 700;
    border: solid 2px #e2e2e2;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 200px;
}

.filters ul li:hover {
    cursor: pointer;
    background: #DEEBFF;
    transition-duration: 0.25s;
}

.filters ul li:hover .icon-filter {
    background: white;
    transition-duration: 0.25s;
}

.icon-filter {
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 18px;
    border-radius: 200px;
    margin-right: 15px;
}

.info .fas {
    color: #0065fc;
    font-size: 16px;
    padding: 7px 11px 7px 11px;
    border: solid 1px #D9D9D9;
    border-radius: 2000px;
    margin-right: 20px;
}

.info p {
    display: inline;
}

.bloc-marseille {
    display: flex;
}

.bloc-hebergement .push-to-right {
    display: block;
    width: 100%;
    margin-left: 40px;
    padding: 20px;
}

.bloc-hebergement {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin: 0 0 0 40px;
    max-width: 1200px;
}

.bloc {
    background: #f2f2f2;
    border-radius: 25px;
}

.cases-marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: 60px;
}

.cases-marseille a {
    width: 300px;
    border-radius: 20px;
    background: white;
    padding: 5px;
    box-shadow: 0 0 6px 0 #0000002e;
    height: 200px;
    margin: 15px;
}

.cases-marseille a img {
    width: 300px;
    border-radius: 10px 10px 0 0;
    height: 100px;
}

.case-marseille {
    background: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    border-radius: 20px;
}

.case-text {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 65px;
}

.case-text h3 {
    margin-top: 2px;
}

a {
    color: initial;
}

.hostingMainCardGradeIcon {
    color: #0065FC;
}

.hostingMainCardGradeIconEmpty {
    color: #D9D9D9;
}

.bloc-populaire {
    margin: 0 40px 0 40px;
    max-width: 450px;
}

.populaire {
    display: flex;
    flex-direction: row;
    height: 135px;
    border-radius: 25px;
    background: white;
    box-shadow: 0 0 6px 0 #0000002e;
    padding: 5px;
}

.populaire img {
    border-radius: 10px 0 0 10px;
}

.cases-text {
    margin-left: 20px;
}

.stars1 {
    margin-top: 30px;
}

footer {
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 40px;
    padding-right: 400px;
    max-width: 1700px;
}

footer div h5 {
    font-size: 25px;
    padding-bottom: 5px;
}

footer div ul li {
    padding: 5px;
    font-size: 18px;
    font-weight: 700px;
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    body {
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    nav ul {
        justify-content: space-evenly;
    }
    nav {
        width: 100%;
    }
    .bouton1 {
        padding-left: 80px;
        padding-right: 95px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-decoration: none;
        color: black;
        align-items: center;
    }
    .bouton1:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    .inscription {
        position: absolute;
        top: 0;
        right: 0;
        color: #0065FC;
        font-weight: 600;
        margin: 20px 30px;
    }
    .logo {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    main {
        padding-top: 20px;
    }
    .title-h1 {
        font-size: 25px;
        margin: 10px 0;
    }
    h1 {
        display: block;
        font-weight: bold;
    }
    p {
        display: block;
        padding-bottom: 10px;
    }
    .icon-location {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55px;
        height: auto;
        background-color: #f2f2f2;
        border-radius: 14px 0 0 14px;
    }
    .button-research {
        display: none;
    }
    .button-research.searchFormSubmitinputIcon.fas.fa-search {
        border: none;
        border-radius: 0 14px 14px 0;
        background-color: #0065FC;
        color: white;
        font-weight: 900;
        font-size: 16px;
        padding: 17px;
        cursor: pointer;
    }
    .filters h3 {
        font-size: 24px;
        display: inline;
        padding-bottom: 5px;
    }
    .filters ul {
        margin-top: 5px;
    }
    #icon-glass {
        display: block;
        right: -20px;
        border-radius: 15px;
    }
    .bloc-marseille {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
    }
}

@media screen and (min-width: 601px) and (max-width: 1199px) {
    header {}
    body {
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    nav ul {}
    nav {}
    .bouton1 {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        text-decoration: none;
        color: black;
    }
    .bouton1:hover {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }
    .inscription {
        margin-left: 30px;
        color: #0065FC;
    }
    .logo {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    body {
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    .bouton1 {}
    .bouton1:hover {
        border-top: 5px solid #0065FC;
        color: #0065FC;
    }
    .inscription {
        margin-left: 50px;
        color: #0065FC;
        font-weight: 600;
    }
}